@import "libs/_elements";
@import "libs/_blank";
@import "libs/_fsize";

/*
================================================================================
|                                     reset                                     |
================================================================================
*/

@import "libs/_reset";

/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/

@import "libs/_fonts";

/*
================================================================================
|                                     Start rools                              |
================================================================================
*/

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

section,
header {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

html,
body,
.content-wrapper {
  height: 100%;
}

.content {
  width: 100%;
  min-height: 100%;
  padding-bottom: 219.8px;
}

.container {
  max-width: 1024px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.body-hidden {
  overflow: hidden;
}

.global-hide {
  transition: all .17s ease-in;
  transform: scale(.8);
  opacity: 0;
}

.global-show {
  transform: scale(1);
  opacity: 1;
}

.br768,
.br320 {
  display: none;
}

// HEADER SECTION
@import "content/header";
// INDEX SECTIONS
@import "content/index/s1";
@import "content/index/s2";
@import "content/index/s3";
// CAPABILITIES SECTIONS
@import "content/capabilities/s1";
@import "content/capabilities/s2";
// CLIENTS SECTIONS
@import "content/clients/s1";
@import "content/clients/s2";
// CONTACTS SECTIONS
@import "content/contacts/s1";
@import "content/contacts/s2";
// PARTNERS SECTIONS
@import "content/partners/s1";
@import "content/partners/s2";
// WORkS SECTIONS
@import "content/works/s1";
// FOOTER SECTIONS
@import "content/footer";
// POPUPS SECTIONS
@import "content/popups/mobile-menu";
//TABLET
@media screen and (max-width: 1024px) and (min-width: 769px) {
  section,
  nav {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .container {
    max-width: 100%;
  }
  .content {
    padding-bottom: 282.6px;
  }
  .br1024,
  .br320 {
    display: none;
  }
  .br768 {
    display: block;
  }
  %sprite-2-1 {
    display: block;
    content: '';
    margin: 0 auto;
    background: url(../img/sprite-2-1.png);
    background-size: 247px 204px;
    background-repeat: no-repeat;
  }
  // HEADER SECTION 
  @include media_768_header;
  // INDEX SECTIONS
  @include media_768_index_s1;
  @include media_768_index_s2;
  @include media_768_index_s3;
  // CAPABILITIES SECTIONS
  @include media_768_capabilities_s1;
  @include media_768_capabilities_s2;
  // CLIENTS SECTIONS
  @include media_768_clients_s1;
  @include media_768_clients_s2;
  // CONTACTS SECTIONS
  @include media_768_contacts_s2;
  // PARTNERS SECTIONS
  @include media_768_partners_s1;
  @include media_768_partners_s2;
  // WORKS SECTIONS
  @include media_768_works_s1;
  // FOOTER SECTIONS
  @include media_768_footer;
}

@media screen and (max-width: 768px) {
  section,
  nav {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .container {
    min-width: 320px;
    padding: 0 5.15%;
  }
  .content {
    padding-bottom: 180.8px;
  }
  .br1024,
  .br768,
  .br768-1024 {
    display: none;
  }
  .br320 {
    display: block;
  }
  %sprite-2-1-m {
    display: block;
    content: '';
    margin: 0 auto;
    background: url(../img/sprite-2-1.png);
    background-size: 247px 204px;
    background-repeat: no-repeat;
  }
  // HEADER SECTION   
  @include media_320_header;
  // INDEX SECTIONS
  @include media_320_index_s1;
  @include media_320_index_s2;
  @include media_320_index_s3;
  // CAPABILITIES SECTIONS
  @include media_320_capabilities_s1;
  @include media_320_capabilities_s2;
  // CLIENTS SECTIONS
  @include media_320_clients_s1;
  @include media_320_clients_s2;
  // CONTACTS SECTIONS
  @include media_320_contacts_s1;
  @include media_320_contacts_s2;
  // PARTNERS SECTIONS
  @include media_320_partners_s1;
  @include media_320_partners_s2;
  // WORKS SECTIONS
  @include media_320_works_s1;
  //POPUPS SECTIONS
  @include media_320_mobile_menu;
  // FOOTER SECTIONS
  @include media_320_footer;
}

@media screen and (max-width: 768px) and (min-width: 550px) {
  .works-s1 {
    .works-item {
      max-height: 205px;
      width: 50%;
      .work-name-wrap {
        &:after {
          height: 205px;
        }
      }
      .works-item-tint {
        &:after {
          height: 205px;
        }
      }
    }
  }
}
