// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$img-name: 'img';
$img-x: 0px;
$img-y: 0px;
$img-offset-x: 0px;
$img-offset-y: 0px;
$img-width: 58px;
$img-height: 58px;
$img-total-width: 126px;
$img-total-height: 58px;
$img-image: 'spritesheet.png';
$img: (0px, 0px, 0px, 0px, 58px, 58px, 126px, 58px, 'spritesheet.png', 'img', );
$img1-name: 'img1';
$img1-x: 68px;
$img1-y: 0px;
$img1-offset-x: -68px;
$img1-offset-y: 0px;
$img1-width: 58px;
$img1-height: 58px;
$img1-total-width: 126px;
$img1-total-height: 58px;
$img1-image: 'spritesheet.png';
$img1: (68px, 0px, -68px, 0px, 58px, 58px, 126px, 58px, 'spritesheet.png', 'img1', );
$img1-2x-name: 'img1@2x';
$img1-2x-x: 0px;
$img1-2x-y: 0px;
$img1-2x-offset-x: 0px;
$img1-2x-offset-y: 0px;
$img1-2x-width: 116px;
$img1-2x-height: 116px;
$img1-2x-total-width: 252px;
$img1-2x-total-height: 116px;
$img1-2x-image: 'spritesheet-2x.png';
$img1-2x: (0px, 0px, 0px, 0px, 116px, 116px, 252px, 116px, 'spritesheet-2x.png', 'img1@2x', );
$img-2x-name: 'img@2x';
$img-2x-x: 136px;
$img-2x-y: 0px;
$img-2x-offset-x: -136px;
$img-2x-offset-y: 0px;
$img-2x-width: 116px;
$img-2x-height: 116px;
$img-2x-total-width: 252px;
$img-2x-total-height: 116px;
$img-2x-image: 'spritesheet-2x.png';
$img-2x: (136px, 0px, -136px, 0px, 116px, 116px, 252px, 116px, 'spritesheet-2x.png', 'img@2x', );
$spritesheet-width: 126px;
$spritesheet-height: 58px;
$spritesheet-image: 'spritesheet.png';
$spritesheet-sprites: ($img, $img1, );
$spritesheet: (126px, 58px, 'spritesheet.png', $spritesheet-sprites, );
$retina-spritesheet-width: 252px;
$retina-spritesheet-height: 116px;
$retina-spritesheet-image: 'spritesheet-2x.png';
$retina-spritesheet-sprites: ($img1-2x, $img-2x, );
$retina-spritesheet: (252px, 116px, 'spritesheet-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$img-group-name: 'img';
$img-group: ('img', $img, $img1-2x, );
$img1-group-name: 'img1';
$img1-group: ('img1', $img1, $img-2x, );
$retina-groups: ($img-group, $img1-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
